body{
    background-color: rgb(51, 51, 54);
}
*{
    color: white;
    font-weight: bold;
}

.about h4{
    font-size: 10px;
}

.name h2{
    font-size: 20px;
    font-weight: bold;
}
.name p{
    font-size: 13px;
}
.name i{
    display: flex; 
}
.profile{
    margin-top: 70px;
    margin-left: 70px;
    padding: 20px;
}
.rounded-circle{
    width: 108px;
    height: 110px;
    border-radius: 50px;
    object-fit: cover;
}

.profile h5{
    margin-top: 10px;
    color: white;
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
}

.detail{
    margin: 10px;
    padding: 20px;
}
.detail h4{
    color: white;
    font-size: 15px;
}

.about p{
    margin-top: 10px;
    font-size: 11px;
}

ul li{
    font-size: 12px;
}

.profile h6{
    margin-left: 10px;
    font-size: 11px;
}

h3{
    font-size: 13px;
}
.learn h6{
    font-size: 12px;
    font-weight: bold;
}

.tools img{
    width: 35px;
    height: 35px;
    padding: 5px;
}

.connect img{
    width: 30px;
    height: 30px;
    padding: 5px;
}

.profile .others{
    margin-top: 50px;
}

.learn p{
    font-size: 12px;
}

@media (max-width:600px) {
    .profile{
        margin-top: 60px;
        margin-left: 10px;
    }
     .col-sm-6{
        /* margin: 10px;
        padding: 10px; */
        margin-left: 7px;
    }
    .detail{
        padding: 20px;
    }
}

.btn{
    padding: 3px;
    font-weight: bold;
    margin-left: 7px;
    font-size: 13px;
    border-radius: 0px;
}

.col-sm-6{
    padding: 10px;
    margin-top: 50px;
}

